@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Todos los estilos estan orientados a Mobile First */

:root {
    --text: #0d081c;
    --background: #ebe7f8;
    --primary: #352173;
    --secondary: #d87492;
    --accent: #b74a34;

}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    -webkit-tap-highlight-color: transparent;
    /* Para Safari */
    tap-highlight-color: transparent;
    /* Para otros navegadores */
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    background: var(--background);
    color: var(--text);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    height: 65px;
    border-bottom: 1px solid #ccc;
    position: relative;
    width: 100%;
}

.header_container {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}

.logo--img {
    aspect-ratio: 1/1;
    width: 50px;
    object-fit: fill;
}

.logo--text {
    font-size: 20px;
    line-height: 28px;
    color: var(--text);
    font-weight: 600;
    display: none;
}

.btn {
    background: transparent;
    outline: none;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s, color 0.3s, border 0.3s;
}

.btn i {
    font-size: 30px;
    color: var(--text);
    font-weight: bold;
}

.btn:hover {
    background: var(--background);
    border: 1px solid var(--primary);
}

.nav {
    background: white;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    padding: 12px;
    width: 250px;
    transition: left 0.3s linear;
}

.nav.visible {
    left: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.nav__logo--img {
    aspect-ratio: 1/1;
    width: 50px;
    object-fit: fill;
}

.nav__logo--text {
    font-size: 20px;
    line-height: 28px;
    color: var(--text);
    font-weight: 600;
}

.nav_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_list-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #9490a0;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 20px;
}

.nav_list-item a.active {
    background: #dcc5d7;
    color: var(--text);
}

.nav_list-item a.active i {
    color: var(--accent);
}

.nav_list-item a i {
    font-size: 16px;
    line-height: 24px;
    color: #c6837c;
}

main {
    padding: 12px;
}

footer {
    padding: 12px;
}

@media screen and (width > 900px) {
    .btn {
        display: none;
    }

    .logo--text {
        display: block;
        font-size: 24px;
        line-height: 32px;
    }

    .nav {
        background:transparent;
        position: static;
        padding: 12px;
        width: auto;
    }

    .nav_list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav__logo {
        display: none;
    }

    hr {
        display: none;
    }
}