@import url(./fonts.css);

:root {
  --white: #fff;
  --color: #212529;
  --line-color: rgb(233, 214, 178);
  --accent-500: #a97513;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  background-color: var(--white);
  color: var(--color);
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 12px auto;
}

.logo-title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  transition: 0.3s opacity linear;
}

.logo-title:hover {
  opacity: 0.7;
}

.line-br {
  border: 1px solid var(--line-color);
  width: 80%;
  margin: 0 auto;
  border-radius: 100%;
}

.header-nav {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
}

.nav-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.nav-item__link {
  text-decoration: none;
  color: var(--color);
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s color linear;
}

.nav-item__link:hover {
  color: var(--accent-500);
}

.carrousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@media (width >= 1024px) {
  .carrousel-img {
    aspect-ratio: 16/9;
    width: 50%;
    height: 50%;
  }
}

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

.img-text {
  display: block;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  aspect-ratio: 16/7;
}

.section-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.section-images img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.footer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.footer-about-us {
  text-align: center;
  padding: 20px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}

.about-us-title {
  text-transform: uppercase;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 300;
}

.about-us__brand {
  font-weight: bold;
}

.footer-about-us p {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.footer-contact {
  text-align: center;
  padding: 20px;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500;
}

.footer-contact a {
  text-decoration: none;
  color: var(--color);
  font-weight: 400;
}

@media (width >= 768px) {
  .nav-items {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-item {
    width: fit-content;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
